body{
    background: #cccccc;
    color: #868585;
}
header{
    margin: 45px 0px 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
}
h1{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: normal;
    font-size: 28px;
}
label{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.navbar-default {
    background-color: thistle;
}
.menu{
    border: 0;
    padding: 0;
    margin: 0;
}
.container{
    width: 60%;
}
.navbar-brand{
    padding-right: 80px;
}
.navbar-brand img{
    position: relative;
    top: -40px;
    padding-left: 45px;
}
.navbar-header{
    width: 220px;
}
.navbar-form{
    padding-left: 75px;
    padding-right: 0;
}
.navbar-form .form-control {
    display: inline-block;
    width: 225px;
    vertical-align: middle;
}
.submenu-right {
    margin-right: 10px;
}
.navbar-default .navbar-nav>li>a{
    color: indigo;
    font-size: 19px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav:not(.icons)>li>a:hover{
    border-bottom: 1px solid mediumorchid;
    color: indigo;
}
.btn.btn-default{
    color: #8d8c8c;
}
#name_file, #description{
    width: 100%;
}
.kurs{
    padding-right: 5px;
}
.group{
    padding-right: 5px;
    padding-left: 5px;
}
.subject{
    padding-left: 5px;
}
.btn-group{
    width: 50%;
}
.chooseFile{
    padding-top: 15px;
}