body{
	background: #cccccc;
	color: #868585;
}
header{
	margin: 45px 0px 55px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: normal;
}
label{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: bold;
	font-size: 16px;
}
.menu{
	border: 0;
	padding: 0;
	margin: 0;
}
.navbar-brand{
	padding-right: 80px;
}
.navbar-brand img{
	position: relative;
	top: -40px;	
	padding-left: 45px;
}
.navbar-header{
	width: 220px;
}
.navbar-form{
	padding-left: 5px;
	padding-right: 0;
}
.submenu-right {
    margin-right: 10px;
    width: 345px;
}
.btn_add_categ{
	margin-top: 8px;
	margin-left: 5px;
}
.navbar-default .navbar-nav>li>a{
	color: #8d8c8c;
	font-size: 19px;
	text-transform: uppercase;
}
.navbar-default .navbar-nav>li.active-link>a{
	border-bottom: 1px solid #336699;
}
.navbar-default .navbar-nav:not(.icons)>li>a:hover{
	border-bottom: 1px solid #336699;
	color: #8d8c8c;
}
.btn.btn-default{
	color: #8d8c8c;
}

.col-md-4{
	background: linear-gradient(to top,paleturquoise, white);
	border-radius: 10px;
	padding: 0;
	width: 180px;
	margin: 7px;
}
.h3, h3 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
	font-weight: normal;
	color: #336699;
}
.btn_list{
	width: 170px;
	height: 170px;
	padding: 0;
	margin: 5px;
}
p{
	white-space: pre-line;
	width: 170px;
	margin-right: 20px; 
	width: 170px;
	margin: 0;
}

