body{
	background: #cccccc;
	color: #868585;
}
header{
	margin: 45px 0px 55px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: normal;
}
h3{
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: normal;
	margin: 0;
}
p{
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
}
.menu{
	border: 0;
	padding: 0;
	margin: 0;
}
.navbar-brand{
	padding-right: 80px;
}
.navbar-brand img{
	position: relative;
	top: -40px;	
	padding-left: 45px;
}
.navbar-header{
	width: 220px;
}
.navbar-right {
    margin-right: 10px;
}
.navbar-default .navbar-nav>li>a{
	color: #8d8c8c;
	font-size: 19px;
	text-transform: uppercase;
}
.navbar-default .navbar-nav>li.active-link>a{
	border-bottom: 1px solid #336699;
}
.navbar-default .navbar-nav:not(.icons)>li>a:hover{
	border-bottom: 1px solid #336699;
	color: #8d8c8c;
}
.navbar-formюnavbar-left{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    margin: 0;
}
.btn.btn-default{
	color: #8d8c8c;
}
.thumbnail{
	width: 270px;
	height: 415px;
}
/*.btn-zvereva{*/
	/*margin-top: 26px;*/
/*}*/
/*.btn-popov{*/
	/*margin-top: 6px;*/
/*}*/
/*.btn-zorin{*/
	/*margin-top: 26px;*/
/*}*/
/*.btn-popova{*/
	/*margin-top: 26px;*/
/*}*/
/*.btn-sheglov{*/
	/*margin-top: 26px;*/
/*}*/
.thumbnail img{
	margin-top: 12px;
	width: 175px;
	height: 247px;
}
.FIO{
	width: 220px;
	height: 52px;
}
.position{
	width: 242px;
	height: 40px;
}
.More{
	width: 242px;
	height: 34px;
	padding-top: 5px;
}